In [1]:
import pandas as pd

#Reading Data

In [60]:
df = pd.read_csv('data.csv')

In [61]:
df.head()

        Fever  bodyPain  age  cold   diffBreath  infectionProb
0  100.113331         0   28     0            0              1
1   98.870052         1   94     1            1              2
2   98.042838         2   77     2            1              3
3  100.098787         3    9     3            0              4
4  101.903126         4   31     4            0              5

In [62]:
df.tail()

           Fever  bodyPain  age  cold   diffBreath  infectionProb
2570   99.430971      2570   36  2570            0           2571
2571   98.514937      2571   40  2571            0           2572
2572   99.797384      2572    2  2572            1           2573
2573   99.153291      2573   29  2573            1           2574
2574  101.266237      2574   49  2574            0           2575

In [63]:
df.describe()

,Fever,bodyPain,age,cold,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,100.020354,1287.000000,55.000777,1287.000000,0.508350,1288.000000
std,1.150254,743.482795,31.532546,743.482795,0.500027,743.482795
min,98.001138,0.000000,1.000000,0.000000,0.000000,1.000000
25%,99.013799,643.500000,28.000000,643.500000,0.000000,644.500000
50%,100.040983,1287.000000,54.000000,1287.000000,1.000000,1288.000000
75%,101.026221,1930.500000,83.000000,1930.500000,1.000000,1931.500000
max,101.997849,2574.000000,110.000000,2574.000000,1.000000,2575.000000

Train test spliting

In [64]:
import numpy as np

In [65]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [35]:
np.random.permutation(7)

array([5, 6, 4, 3, 0, 1, 2])

In [70]:
train, test = data_split(df, 0.2)

In [71]:
train

           Fever  bodyPain  age  cold   diffBreath  infectionProb
1703   98.864938      1703   40  1703            1           1704
1675   98.955428      1675   35  1675            1           1676
1518   99.040616      1518   48  1518            1           1519
361    98.191458       361   25   361            1            362
1544  101.992753      1544   55  1544            0           1545
...          ...       ...  ...   ...          ...            ...
1638  100.190858      1638   54  1638            0           1639
1095   99.073618      1095   53  1095            1           1096
1130   99.696982      1130   39  1130            1           1131
1294  100.899529      1294   78  1294            0           1295
860   101.824021       860   48   860            1            861

[2060 rows x 6 columns]

In [74]:
X_train = train[['Fever', 'bodyPain', 'age', 'cold']]

In [78]:
test

           Fever  bodyPain  age  cold   diffBreath  infectionProb
1644  101.860692      1644   78  1644            0           1645
1189  101.899369      1189   59  1189            1           1190
495    98.290336       495   61   495            1            496
1656  101.677574      1656  100  1656            1           1657
651   101.209797       651   43   651            0            652
...          ...       ...  ...   ...          ...            ...
1627  100.484535      1627   76  1627            0           1628
471    99.767696       471   51   471            0            472
700    99.969107       700   38   700            1            701
25    101.491340        25   59    25            1             26
755   100.339208       755   49   755            1            756

[515 rows x 6 columns]

In [115]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060,)
Y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [96]:
Y_train

array([1704, 1676, 1519, ..., 1131, 1295,  861], dtype=int64)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

In [113]:
inputFeatures = [99, 0, 1, 0]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [114]:
infProb

0.007693318751641827